<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ hugo.Generator }}

    <title>{{ with .Title }}{{ . }} &#8212; {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ $style := resources.Get "style.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ range .AlternativeOutputFormats }}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end }}

  </head>
  <body>
    <header class="container">
      <h1>{{ .Site.Title }}</h1>
    </header>

    {{ block "main" . }}
    {{ end }}

    <footer>
      <div class="container">

        {{ if .IsTranslated }}
        <section>
          <h6>{{ i18n "translations" }}</h6>
          <ul>
            {{ range .Translations }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
          </ul>
        </section>
        {{ end }}

        <section>
          {{ .Site.Copyright }}
        </section>
      </div>
    </footer>
  </body>
</html>
