:root {
  --main-bg-color: hsl(50, 20%, 90%);
  --footer-text-color: hsl(50, 25%, 50%);
  --text-color: hsl(200, 25%, 20%);
  --accent-color: hsl(200, 50%, 40%);
}

html {
  font-size: 16px;
  font-family: system-ui, 'Segoe UI', 'Roboto', Arial, sans-serif;
}

body {
  background: var(--main-bg-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

a.header-link {
  opacity: 0.5;
  text-decoration: none;
  font-size: 1ex;
  vertical-align: middle;
}

a.header-link:hover {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25em 0;
  font-weight: bold;
  color: var(--accent-color);
}

@for $i from 2 through 6 {
  h#{$i} {
    font-size: 1rem + 0.25 * (6 - $i);
  }
}

p, ul {
  margin: 0 0 1rem 0;
}

.container {
  padding: 0 1rem;
}

@media (min-width: 62rem) {
  .container {
    width: 60rem;
    max-width: 100%;
    margin: auto;
  }
}

a.button {
  cursor: pointer;
  background: var(--accent-color);
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  margin-bottom: 1rem;

  &:hover {
    background: var(--text-color);
  }
}

footer,
footer * {
  color: var(--footer-text-color);
}
